/Alders&SykehjemStavanger_Errors
/creds.py
/Logs
/stavanger_sykehjem.csv
/stavanger_sykehjem.geojson
/stavanger_sykehjem.json
/stavanger_sykehjem.kml
/stavanger_sykehjem.topo.geojson
/stavanger_sykehjem.topo.json
/stavanger_sykehjem.topojson
/stavanger_sykehjem.xlsx
/stavanger_sykehjem.yml
/url_list.json
/__pycache__